---
export interface Props {
  title: string;
  subTitle?: string;
  summary: string;
  pdfLink: string;
  image: string;
  pages: number | string;
}

const { title, subTitle, summary, pdfLink, image, pages } = Astro.props;
---

<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h5 class="card-title" data-cms-bind="#title">{title}</h5>
      {subTitle && <h6 class="card-sub-title">{subTitle}</h6>}
    </div>
    <div class="card-body">
      <img
        class="card-img-top img-height-equalizer"
        alt={title}
        src={image}
        data-cms-bind="#image"
      />
    </div>
    <div class="card-body books-description-box">
      <p class="card-text" data-cms-bind="#summary">{summary}</p>
      <div class="action-box">
        <a href={pdfLink} class="btn btn-lg btn-secondary action-btn">
          {`Open the sermon - ${pages} pages`}
        </a>
      </div>
    </div>
  </div>
</div>
